@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  /* ### Primary */

  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);

  /* ### Neutral */

  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);

  /* Fonts */

  --ff-headings: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/* General settings */

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-semi-bold);
  font-size: 0.8125rem;
  color: var(--Very-Dark-Cyan);
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
}

h1 {
  font-size: 1.375rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.card {
  text-align: center;
}

.users {
  padding: 1.75rem;
}

footer {
  position: relative;
  background-color: var(--Very-Dark-Cyan);
  color: var(--Very-Pale-Blue);
  padding: 1.75rem;
}

.curve {
  margin: auto;
  width: 100%;
}

.light_blue {
  background-color: var(--Very-Pale-Blue);
}

/* Buttons */

.button {
  border: none;
  font-size: 0.75rem;
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  font-weight: var(--fw-bold);
}

.start {
  padding: 0.6875rem 2.25rem;
  border-radius: 1.25rem;
  width: 13rem;
}

.try {
  padding: 0.25rem 1.25rem;
  border-radius: 1rem;
  color: var(--Pink);
  background-color: white;
  border: 1px solid var(--Pink);
  font-weight: var(--fw-regular);
}

.subscribe {
  padding: 0.75rem 2.375rem;
  border-radius: 0.375rem;
  width: 10rem;
  place-self: center end;
  font-size: 0.875rem;
}

/* Images, logos and icons */

header > img {
  width: 6rem;
}

.stats > img {
  width: 2rem;
}

#white_logo {
  width: 11rem;
}

.icons {
  display: flex;
  gap: 1rem;
}

ion-icon {
  color: var(--Very-Pale-Blue);
  width: 1.5rem;
  height: 1.5rem;
}

/* */

.card {
  display: grid;
}

.users {
  display: grid;
  gap: 4rem;
}

.users__text > h2 {
  margin-bottom: 1rem;
}

.ready {
  padding: 2rem;
}

.ready > h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

footer {
  display: grid;
  gap: 6rem;
  font-size: 0.875rem;
}

.newsletter {
  display: grid;
  gap: 2rem;
}

form {
  display: grid;
  gap: 1rem;
}

#ifmail {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
}

address {
  display: grid;
  gap: 2rem;
}

.address__top > img {
  margin-bottom: 1rem;
}

.phone,
.email {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.phone {
  margin-bottom: 1.125rem;
}

/* Personal info */

.attribution {
  background-color: var(--Very-Dark-Cyan);
  color: white;
  font-size: 0.6875rem;
  text-align: center;
  padding: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
